@using Tellurium.VisualAssertions.Dashboard.Controllers
@using Tellurium.VisualAssertions.Dashboard.Mvc
@model Tellurium.VisualAssertions.Dashboard.Services.TestResults.TestResultListViewModel

@{
    ViewBag.Title = "Tests Results";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        @(Ajax.ActionLink<HomeController>(c => c.GetTestsFromSessionInStatus(Model.TestSessionId, Model.BrowserName, TestResultStatus.All), "All tests: " +Model.AllCount, "TestResultsList", new { @class = "btn btn-primary" }))
        @(Ajax.ActionLink<HomeController>(c => c.GetTestsFromSessionInStatus(Model.TestSessionId, Model.BrowserName, TestResultStatus.Passed), "Passed tests: "+Model.PassedCount, "TestResultsList", new { @class = "btn btn-success" }))
        @(Ajax.ActionLink<HomeController>(c => c.GetTestsFromSessionInStatus(Model.TestSessionId, Model.BrowserName, TestResultStatus.Failed), "Failed tests: "+Model.FailedCount, "TestResultsList", new { @class = "btn btn-danger" }))
    </div>
    <div class="row">
        @(Ajax.ChangeActionLink<HomeController>(c => c.MarkAllAsPattern(Model.TestSessionId, Model.BrowserName), "Mark all as pattern", "Do you really want to replace patter for all cases?", htmlAttributes: new { @class = "btn btn-primary pull-right" }))
    </div>
    <div id="TestResultsList" class="row top-offset">
        @foreach (var testResultInfo in Model.TestResults)
        {
            Html.RenderPartial("TestResultInfo", testResultInfo);
        }
    </div>
    
</div>
