@using Microsoft.Web.Mvc
@model TestSessionListViewModel

<table class="table table-striped">
    <thead>
    <tr>
        <th>Session</th>
        <th>Browsers</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var sessionInfo in Model.TestSessions)
        {
            <tr>
                <td>
                    @sessionInfo.StartDate
                </td>
                <td>
                    <div class="btn-toolbar">
                        @foreach (var browser in sessionInfo.Browsers)
                        {
                            @(Html.ActionLink<HomeController>(c => c.GetTestsFromSessionSession(sessionInfo.SessionId, browser), browser, htmlAttributes: new { @class = "btn btn-default" }))
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>