@using Tellurium.VisualAssertions.Dashboard.Controllers
@using Tellurium.VisualAssertions.Dashboard.Mvc
@model Tellurium.VisualAssertions.Dashboard.Services.TestResults.TestCaseCategoriesListViewModel

<ul class="list-group">
    @foreach (var project in Model.Categories)
    {
        <li class="list-group-item">
            @(Ajax.ActionLink<TestCaseController>(c => c.GetTestCasesFromCategory(project.CategoryId), project.CategoryName, PageElementsIds.PageBody))
        </li>
    }
</ul>