@using Tellurium.VisualAssertions.Dashboard.Controllers
@using Tellurium.VisualAssertions.Dashboard.Mvc
@model Tellurium.VisualAssertions.Dashboard.Services.TestResults.ProjectListViewModel
@{
    ViewBag.Title = "Test Cases";
    Layout = "~/Views/_Layout.cshtml";
}

<ul class="list-group">
    @foreach (var project in Model.Projects)
    {
        <li class="list-group-item">
            @(Ajax.ActionLink<TestCaseController>(c => c.GetTestCaseCategories(project.ProjectId), project.ProjectName, PageElementsIds.PageBody))
        </li>
    }
</ul>