@using Tellurium.VisualAssertions.Dashboard.Controllers
@using Tellurium.VisualAssertions.Dashboard.Mvc
@model Tellurium.VisualAssertions.Dashboard.Models.TestCase.TestCaseListItem
@{
    var detailsId = "TestCaseDetails" + Model.TestCaseId;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">@Model.TestCaseName</div>
            <div class="col-md-6 btn-toolbar">
                @foreach (var browser in Model.Browsers)
                {
                    @(Ajax.ActionLink<TestCaseController>(c => c.GetTestCasePattern(Model.TestCaseId, browser.PatternId), browser.BrowserName, detailsId, new { @class = "btn btn-default" }))
                }
            </div>
        </div>
    </div>
    <div class="panel-body" id="@detailsId">
    </div>
</div>