@using MaintainableSelenium.Web.Controllers
@model ProjectListViewModel
@{
    ViewBag.Title = "Test Sessions";
    Layout = "~/Views/_Layout.cshtml";
}

<ul class="list-group">
    @foreach (var project in Model.Projects)
    {
        <li class="list-group-item">
            @(Ajax.ActionLink<HomeController>(c => c.GetTestSessionFromProject(project.ProjectId), project.ProjectName, PageElementsIds.PageBody))
        </li>
    }
</ul>