@using Microsoft.Web.Mvc
@using Tellurium.Sample.Website.Controllers
@using Tellurium.Sample.Website.Mvc
@model Tellurium.Sample.Website.Models.FormRetypeViewModel
@{
    ViewBag.Title = "Tellurium";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm<TestFormsController>(c => c.SaveSampleForm(null), FormMethod.Post, new { id = FormsIds.TestFormSrc, @class = "form-horizontal" }))
                {
                    <h4>Source form</h4>
                    Html.RenderPartial("EditorTemplates/SampleFormViewModel", Model.SourceForm);
                }
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm<TestFormsController>(c => c.SaveSampleForm(null), FormMethod.Post, new { id = FormsIds.TestFormDst, @class = "form-horizontal" }))
                {
                    <h4>Destination form</h4>
                    Html.RenderPartial("EditorTemplates/SampleFormViewModel", Model.DestinationForm);
                }
            </div>
        </div>
    </div>
</div>