@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="row"></div>
    <ul id="SampleList">
        <li>Element <span class="no">#1</span>other than "this" may me hidden</li>
        <li>Element <span class="no">#2</span><span>It's hard to find</span></li>
        <li>Element <span class="no">#3</span><span>Where is<span>text to find</span>??</span></li>
        <li>Element <span class="no">#4</span><span>Where is<span>"text" 'to' find</span>??</span></li>
    </ul>
</div>
<div class="row">
    <table id="TableWithHeaderAndBody">
        <thead>
        <tr>
            <th>Lp</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Nash</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Steve</td>
            <td>Jobs</td>
        </tr>
        </tbody>
    </table>
    
    <table id="TableWithoutHeaderAndBody">
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Nash</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Steve</td>
            <td>Jobs</td>
        </tr>
    </table>
</div>
<div class="row">
    <ul id="SampleTree">
        <li>
            <div>Level 1 item A</div>
            <ul>
                <li>
                    <div>Level 2 item AA</div>
                    <ul>
                        <li>
                            <div>Level 3 item AAA</div>
                        </li>    
                    </ul>
                </li>
                <li>
                    <div>Level 2 item AB</div>
                    <ul>
                        <li>
                            <div>Level 3 item ABA</div>
                        </li>    
                    </ul>
                </li>
                <li>
                    <div>Level 2 item AC</div>
                    <ul>
                        <li>
                            <div>Level 3 item ACA</div>
                        </li>   
                        <li>
                            <div>Level 3 item ACB</div>
                        </li>    
                    </ul>
                </li>
                
            </ul>
        </li>
        <li>
            <div>Level 1 item B</div>
            <ul>
                <li>
                    <div>Level 2 item BA</div>
                    <ul>
                        <li>
                            <div>Level 3 item BAA</div>
                        </li>    
                    </ul>
                </li>
                <li>
                    <div>Level 2 item AB</div>
                    <ul>
                        <li>
                            <div>Level 3 item BBA</div>
                        </li>    
                    </ul>
                </li>
                
            </ul>
        </li>
    </ul>
</div>