@using MaintainableSelenium.Web.Controllers
@model MaintainableSelenium.Web.Services.TestResult.TestCaseCategoriesListViewModel

<ul class="list-group">
    @foreach (var project in Model.Categories)
    {
        <li class="list-group-item">
            @(Ajax.ActionLink<TestCaseController>(c => c.GetTestCasesFromCategory(project.CategoryId), project.CategoryName, PageElementsIds.PageBody))
        </li>
    }
</ul>