@using MaintainableSelenium.Web.Controllers
@using MaintainableSelenium.Web.Mvc;
@model List<MaintainableSelenium.Web.Models.TestCase.TestCaseListItem>
@{
    ViewBag.Title = "Test Cases";
    Layout = "~/Views/_Layout.cshtml";
}

@foreach (var testCaseInfo in Model)
{
    var detailsId = "TestCaseDetails" + testCaseInfo.TestCaseId;
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">@testCaseInfo.TestCaseName</div>
                <div class="col-md-6 btn-toolbar">
                    @foreach (var browser in testCaseInfo.Browsers)
                    {
                        @(Ajax.ActionLink<TestCaseController>(c => c.GetTestCasePattern(testCaseInfo.TestCaseId, browser.PatternId), browser.BrowserName, detailsId, new { @class = "btn btn-default" }))
                    }
                </div>
            </div>
        </div>
        <div class="panel-body" id="@detailsId">
        </div>
    </div>
}
